<header>
  <div class="bg-white">
    <div class="header">
      <div class="wrapper">
        <div class="header-top">
          <div class="logo"><span class="logo-image"></span><span><a href="../login-page/login-page.component.html"> EASY ALGORITHMS</a></span></div>
        </div>
      </div>
      <hr>
      <div class="wrapper">
        <div class="header-bottom">
          <ul class="nav">
            <li><a href="../alg-types/sort-algs/sochi.component.html">Сочи</a></li>
            <li><a href="../alg-types/search-algs/ialta.component.html">Ялта</a></li>
            <li><a href="../alg-types/trees/evpatoria.component.html">Евпатория</a></li>
            <li><a href="../alg-types/gelenjik/gelenjik.component.html">Геленджик</a></li>
            <li><a href="../alg-types/beginer/sevastopol.component.html">Севастополь</a></li>
            <li><a href="../alg-types/data-types/anapa.component.html">Анапа</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
